@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url(../assets/fonts/Barlow-Regular.ttf);
  font-style: normal;
}

body,
textarea {
  background: #1c1c1c;
  color: #f8fafc;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

header {
  background: url(../assets/images/background.webp) center center,
    linear-gradient(90deg, #1c1c1c 65%, rgba(128, 46, 234, 0.08));
  background-size: cover;
}
.container {
  max-width: 1440px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
}

.dev_content {
  text-align: left;
}
.dev_content h1 {
  font-size: 150px;
  background-image: radial-gradient(
    69.86% 2796.42% at 85% 50%,
    hsla(0, 0%, 96%, 0.53) 0,
    #fff 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.dev_content h2 {
  font-size: 60px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  padding-bottom: 40px;
  color: #73d9ff;
}

.dev_description,
.dev_profession {
  font-family: "Barlow", sans-serif;
  padding: 30px;
  border-radius: 8px;
  border: 2px solid #303031;
  background-image: linear-gradient(193deg, #423a4e78 0%, #1c1c1c00 100%);
  box-shadow: 0 0 0 0 #ffffff;
  font-size: 14px;
  max-width: 350px;
}

.dev_profession {
  margin-top: 20px;
  margin-left: 40px;
}

.dev_description,
.dev_profession {
  line-height: 1.5;
}

.dev_selector {
  color: #ec91ff;
}

.dev_comment {
  color: #586c7a;
}

.dev_value {
  color: #73d9ff;
}
.skills .content {
  display: flex;
}

.skills_content {
  padding: 29px;
  border: 1px solid #303031;
  border-radius: 15px;
  margin: 0 20px;
  filter: grayscale(0);
  transition: 0.4s ease-in-out;
}

.skills h1 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 30px;
  color: #9f9f9f;
}

.skills_content:hover {
  box-shadow: 0px 1px 11px 1px #ffffff42;
}

.skills_content img {
  max-width: 155px;
}

.container.skills_container {
  flex-direction: column;
  align-items: center;
}

/* form styles*/
.content_form {
  width: 20%;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  text-align: left;
  font-size: 16px;
  color: #d5d5d5;
  padding-bottom: 10px;
}

form input {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 0;
  background: #212121;
  border: 2px solid #303031;
  color: white;
}
form textarea {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 0;
  background: #212121;
  border: 2px solid #303031;
}
form textarea:focus-visible,
form input:focus-visible {
  outline: 1px solid #6a6a6a;
}
.form_button {
  margin-top: 10px;
}

button {
  padding: 7px 17px;
  background: transparent;
  border: 2px solid #a563fd;
  border-radius: 13px;
  font-size: 17px;
  color: #a563fd;
  float: right;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #a563fd;
  color: #1c1c1c;
}
/* en form style */

.content_activities {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

/* card style */

.card_activity {
  width: 33.33%;
  padding: 15px;
}

.card_content {
  background: #212121;
  padding: 15px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
}

.card_img {
  width: 100%;
  height: 19rem;
  border-radius: 15px;
  overflow: hidden;
}

.card_img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
  transform: scale(1.2);
  -webkit-animation: floatAnimation 8s ease-in-out infinite;
  animation: floatAnimation 8s ease-in-out infinite;
}

.card_inf {
  padding-bottom: 20px;
}

.card_title {
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  padding-top: 5px;
}

.card_description {
  font-size: 15px;
  text-align: justify;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 7px;
}

.card_button {
  padding-top: 20px;
  display: flex;
  justify-content: end;
}
.card_button div {
  padding-left: 10px;
}

.card_button .delete {
  border-color: #f31260;
  color: #f31260;
  font-size: 15px;
  margin-left: 10px;
}
.card_button .delete:hover {
  background: #f31260;
  color: #1c1c1c;
}
.card_button .edit {
  border-color: #f5a524;
  color: #f5a524;
  font-size: 15px;
  margin-left: 10px;
}

.card_button .edit:hover {
  background: #f5a524;
  color: #1c1c1c;
}

/* animation img */
@keyframes floatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* end card style */

/* modal style */
.modal_edit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #231d2b94;
}
